
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #fff;
}

body {
  background-color: #0e1129;
  padding: 2rem;
}

p{
  text-align: center;
  font-size: 14px;
  color: #9da5d1;
}

a{
  text-decoration: none;
}

section{
  max-width: 400px;
  height: 200px;

  margin: 0 auto;
  margin-top: 3rem;

  border-radius: 1rem;
  background-color: #2b3566;
  box-shadow: 0px 5px 10px #2b3566;

  transition: all 0.3s;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:hover{
  box-shadow: 0px 3px 8px #9da5d1;
  transform: scale(1.01);
}

.search-container{  
  width: 80%;
  height: 150px;
  
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}

.search-container > h1{
  margin-top: -5rem;
  margin-bottom: 4rem;

  color: #644aff;
}

.search-container > h4{
  font-size: 18px;
  font-weight: 500;
  
  margin-bottom: 0.75rem;
}

.search-container > p{
  font-size: 14px;
  
  color: #9da5d1;
  
  margin-bottom: 0.5rem;
}

.search-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.errorMessage{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  
  max-width: 400px;
  height: 50px;
  
  margin: 0 auto;
  margin-top: 2rem;
  padding-top: 1rem;
  
  border-radius: 1rem;
  background-color: #2b3566;
  box-shadow: 0px 5px 10px #2b3566;

  z-index: 100;

  transition: all 0.3s;
}

.errorMessage:hover{
  box-shadow: 0px 3px 8px #9da5d1;
  transform: scale(1.01);
}

input{
  padding: 0.35rem 1.25rem;

  border: none;
  border-radius: 1rem;

  font-size: 14px;
  
  color: #0e1129;
}

input:focus{
  outline: none;
}

input::placeholder{
  color: #2b3566;
  opacity: 0.5;
  
  text-align: center;
  text-transform: capitalize;

  font-size: 14px;
}

button{
  width: 60px;
  height: 28px;

  color: #fff;
  background-color: #644aff;

  outline: none;

  border-radius: 1rem;
  border: none;

  margin-left: 0.25rem;
}

/* USER SECTION */

.user-section{
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;

  padding: 2rem 0;
  margin-top: 1rem;

  height: auto;
}

.user-container{
  width: 80%;
}

.img-container{
  width: 150px;
  height: 150px;

  border-radius: 50%;
  border: 5px solid #644aff;
  margin: 0 auto;
}

.img-container .user-img{
  width: 100%;
  border-radius: 50%;
}

.user-name{
  margin: 0.75rem 0;
  text-align: center;
  text-transform: capitalize;
}

.user-location{
  text-transform: capitalize;
  margin: 1rem 0;
}

.follow-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.counter-follow{
  background: #fff;
  color: #2b3566;
  border-radius: 0.25rem;

  padding: 0.25rem;
  margin-top: 0.5rem;
}

.vertical-line{
  width: 2px;
  height: 40px;

  background-color: #fff;
}